.splash-screen {
  width: 100vw;
  height: 100vh;
  background-color: var(--menu-bg-color);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 15;
  animation: hideAnimation 0.3s ease-out forwards;
  animation-delay: 1.5s;
}

.splash-screen img{
  width: 90%;
  animation: showLoading 1s ease-in-out forwards;
}

.splash-screen .title{
  padding: 10px 25px;
  background-color: var(--primary-font-color);
  font-size: 2.5rem;
  border-radius: 42px;
  color: var(--primary-color);
  position: absolute;
  top: 80%;

  animation: titleFadeIn 0.3s ease-in forwards;
  animation-delay: 0.7;
}

@keyframes hideAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}


@keyframes showLoading{
  0%{
    opacity: 0;
    transform: translateY(-15%) scaleY(0.5);
  }
  50%{
    opacity: 0.7;
    transform: translateY(5%) scaleY(1);
  }
  100%{
    opacity: 1;
  }
}

@keyframes titleFadeIn{
  0%{
    opacity: 0;
    transform: scaleX(0);
  }
  50%{
    opacity: 0.5;
    transform: scaleX(0.8);
  }
  100%{
    opacity: 1;
    transform: scaleX(1);
  }
}