.status-bar {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 3px;
  
  display: flex;
  justify-content: center;
  
  position: fixed;
  top: 0;

  z-index: 10;
}

.status-bar--light{
  background-color: var(--primary-color);
  color: var(--subtitle-font-color);
}

.status-bar__column {
  width: 33%;
  display: flex;
  align-items: center;
}

.status-bar__column>span,
.status-bar__column>i {
  margin-right: 10px;
}

.status-bar__column:first-child span {
  margin-left: 5px;
}

.status-bar__column>*:last-child {
  margin-right: 0px;
}

.status-bar__column:nth-child(2) {
  justify-content: center;
}

.status-bar__column:nth-child(3) {
  justify-content: flex-end;
}